@use 'variables' as *;
@use 'slider' as *;

// SECTION D'ARRIVEE
.intro {
    background-color: $main-color;
    color: $second-color;
    min-height: 89vh;
    max-height: 89vh;
}

.slide > p {
    background-color: $main-color;
    padding: 2rem;
}

.arrow {
    cursor: pointer;
}

// Animation alignement div

.lineupY {
    animation: 5s anim-lineUpX ease-out;
}

@keyframes anim-lineUpX {
    0% {
        opacity: 0;
        transform: translateY(40%);
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translateY(0%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.slide > h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: $police-titre;
    color: $second-color;
    text-shadow: $main-color 5px 10px;
}

// ANIMATION 3D

h1 > span {
    animation: text-shadow 3s ease-in-out;
    font-size: 75px;
    font-weight: 900;
    line-height: 1;
}

@keyframes text-shadow {
    0% {
        transform: translateY(0);
        text-shadow: 0 0 0 #000000, 0 0 0 #626262, 0 0 0 #b2b2b2, 0 0 0 #ffffff;
    }

    20% {
        transform: translateY(-1em);
        text-shadow: 0 0.125em 0 #000000, 0 0.25em 0 #626262,
            0 -0.125em 0 #b2b2b2, 0 -0.25em 0 #ffffff;
    }

    40% {
        transform: translateY(0.5em);
        text-shadow: 0 -0.0625em 0 #000000, 0 -0.125em 0 #626262,
            0 0.0625em 0 #b2b2b2, 0 0.125em 0 #ffffff;
    }

    60% {
        transform: translateY(-0.25em);
        text-shadow: 0 0.03125em 0 #000000, 0 0.0625em 0 #626262,
            0 -0.03125em 0 #b2b2b2, 0 -0.0625em 0 #ffffff;
    }

    80% {
        transform: translateY(0);
        text-shadow: 0 0 0 #000000, 0 0 0 #626262, 0 0 0 #b2b2b2, 0 0 0 #ffffff;
    }
}
// SECTION RESULTATS

.icontoshowoff {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $main-color;
    width: 100%;
    color: $second-color;
}

.icontoshowoff > div > div {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid $second-color;
    width: 200px;
}

.icontoshowoff > div > div > i {
    font-size: 5rem;
}

// SECTION CTA

.calltoaction {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.calltoaction > div {
    margin-left: 2rem;
}

.calltoaction > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width: 768px) {
    .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .cardcontent {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .icontoshowoff {
        background-color: $main-color;
        width: 100%;
        color: $second-color;
        justify-content: center;
    }

    .icontoshowoff > div:nth-child(2) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .icontoshowoff > div > div {
        margin-right: 3rem;
    }

    .calltoaction {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .calltoaction > div {
        width: 50%;
    }

    .calltoaction > div > h2 {
        font-size: 2rem;
    }
}
